{% extends '::base.html.twig' %}
{% block body %}

<form action="{{ path('tipocliente_edit', { 'id': form.vars.value.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}