{% extends '::base.html.twig' %}
{% block body %}
        <ul id="navigation">
           {% for tipoCliente in listatipoCliente %}
                <li>
                    
                        {{ tipoCliente.nombre }}
                        <a href="{{ path('tipocliente_view', {'id': tipoCliente.id } ) }}">Ver</a>
                        <a href="{{ path('tipocliente_edit', {'id': tipoCliente.id } ) }}">Editar</a>
                        
                </li>
           {% endfor %}
        </ul>
<a href="{{ path('tipocliente_edit' ) }}">Nuevo</a>
{% endblock %}