{% extends '::base.html.twig' %}
{% block body %}
<form action="{{ path('cliente_edit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}