{% extends '::base.html.twig' %}
{% block body %}
<ul>
    <li><a href="{{ path('cliente_index') }}">Cliente</li>
    <li><a href="{{ path('tipocliente_index') }}">TipoCliente</li>
</ul>
{% endblock %}